body {
  background-color: #46aaff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  width: 680px;
  margin: 0px auto;
  padding: 1em;
  background-color: white;
  position: relative;
}

h1 {
  margin: 0;
  padding: 1em 0.5em;
}

table {
  border-spacing: 0;
  padding: 4px;
  table-layout: fixed;
}

table tr {
  border-collapse: collapse;
  box-sizing: border-box;
}

table thead tr th {
  padding: 4px 0;
  border-bottom: 1px solid #8f8f8f;
  text-align: left;
}

table tbody tr td {
  padding: 4px 0;
}

table tbody tr:hover {
  background-color: #8fcbff;
}