body {
  background-color: #46aaff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  width: 680px;
  margin: 0px auto;
  padding: 1em;
  background-color: white;
  position: relative;
}

h1 {
  margin: 0;
  padding: 1em 0.5em;
}

table {
  border-spacing: 0;
  padding: 4px;
  table-layout: fixed;
}

table tr {
  border-collapse: collapse;
  box-sizing: border-box;
}

table thead tr th {
  padding: 4px 0;
  border-bottom: 1px solid #8f8f8f;
  text-align: left;
}

table tbody tr td {
  padding: 4px 0;
}

table tbody tr:hover {
  background-color: #8fcbff;
}

span.error {
  color: red;
  font-weight: normal;
  padding-left: 2px;
}


label {
  width: 100%;
  display: inline-block;
  font-weight: bold; 
  padding: 4px;
  margin: 4px 4px 2px 2px;
  font-size: 1em;
}

label:after {
  content: ':';
}

input[type=text], input[type=password], input[type=email], textarea {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  padding: 16px 8px;
  font-size: 1em;
  outline: none;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
}

button {
  border-radius: 3px;
  padding: 8px 16px;
  margin: 0 4px 0 0;
  font-size: 1em;
}

button.primary {
  color: white;
  background-color: #46aaff;
  border: 1px solid rgb(56, 142, 222);
}

button.secondary {
  color: #4CAF50;
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
}

button.secondary:disabled {
  color: grey;
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
}

button:disabled {
  color: rgb(58, 58, 58);
  background-color: grey;
  border: 1px solid rgb(58, 58, 58);
}